@using BlazorDB.App.Models
@if (Lecturer == null)
{
    <Loader/>
}
else
{
    <form>
        <div class="form-group">
            <label for="student-name" class="col-form-label">Имя:</label>
            <input bind="@Lecturer.LecturerName" type="text" class="form-control" id="student-name" />
        </div>
        <div class="form-group">
            <label for="surname" class="col-form-label">Фамилия:</label>
            <input bind="@Lecturer.Surname" type="text" class="form-control" id="surname" />
        </div>
        <div class="form-group">
            <label for="gender" class="col-form-label">Пол:</label>
            <input bind="@Lecturer.Gender" type="text" class="form-control" id="gender" />
        </div>
        <div class="form-group">
            <label for="birth-year" class="col-form-label">Год рождения:</label>
            <input bind="@Lecturer.BirthYear" type="number" class="form-control" id="birth-year" />
        </div>
        <div class="form-group">
            <label for="class" class="col-form-label">Кафедра:</label>
            <select bind="@Lecturer.PulpitId" class="form-control" id="class">
                @if (Lecturer.Pulpits.Any())
                {
                    foreach (var pulpit in Lecturer.Pulpits)
                     {
                         if (Lecturer.PulpitId == default)
                         {
                             Lecturer.PulpitId = pulpit.Id;
                         }
                         <option value="@pulpit.Id">@pulpit.PulpitName</option>
                     }
                }
                else
                {
                    <Loader />
                }
            </select>
        </div>
        <div class="form-group">
            <label for="scholarship" class="col-form-label">Тип преподавателя:</label>
            <input bind="@Lecturer.LecturerType" type="text" class="form-control" id="scholarship" />
        </div>
        <div class="form-group">
            <label for="children" class="col-form-label">Количество детей:</label>
            <input bind="@Lecturer.Children" type="number" class="form-control" id="children" />
        </div>
        <div class="form-group">
            <label for="children" class="col-form-label">Зарплата:</label>
            <input bind="@Lecturer.Salary" type="number" class="form-control" id="children" />
        </div>
    </form>
}

@functions
{
    [Parameter]
    private Lecturer Lecturer { get; set; }
}
