@page "/advocacies"
@inherits BlazorDB.App.PageLogic.AdvocacyPageBase

<Modal ModalId="modal">
    <ModalHeader Title="Редактировать защиту"/>
    <ModalBody>
        <AdvocacyModal Advocacy="@Current" />
    </ModalBody>
    <ModalFooter 
        CloseOnClick="@true" 
        OnClick="@(async () => await Update())" 
        ButtonTitle="Сохранить"/>
</Modal>
@if (Collection == null)
{
    <Loader />
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Год сдачи</th>
                <th>Тип защиты</th>
                <th>Преподаватель</th>
                <th>Тема</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var advocacy in Collection)
            {
                <tr>
                    <td>@advocacy.YearEnd</td>
                    <td>@advocacy.AdvocacyType</td>
                    <td>@advocacy.Lecturer.Surname</td>
                    <td>@advocacy.Theme</td>
                </tr>
                <button
                    data-toggle="modal"
                    data-target="#modal"
                    type="button"
                    onclick="@(() => ShowModal(advocacy.Id))"
                    class="btn btn-primary mb-2">
                    Редактировать
                </button>
                <Divider Vertical="@true" />
                <button
                    type="button"
                    onclick="@(async () => await Delete(advocacy.Id))"
                    class="btn btn-danger mb-2">
                    Удалить
                </button>
            }
            </tbody>
        </table>
        <button
            data-toggle="modal"
            data-target="#modalAdd"
            type="button"
            onclick="@(() => ShowModal())"
            class="btn btn-success">
            Добавить
        </button>
    </div>
}
<Modal ModalId="modalAdd">
    <ModalHeader Title="Добавить защиту"/>
    <ModalBody>
        <AdvocacyModal Advocacy="@Current" />
    </ModalBody>
    <ModalFooter 
        CloseOnClick="@true" 
        OnClick="@(async () => await Add())" 
        ButtonTitle="Сохранить"/>
</Modal>