@page "/classes"
@inherits BlazorDB.App.PageLogic.ClassPageBase

<Modal ModalId="modal">
    <ModalHeader Title="Редактировать группу"/>
    <ModalBody>
        <GroupModal Group="@EditGroup" />
    </ModalBody>
    <ModalFooter 
        CloseOnClick="@true" 
        OnClick="@(async () => await Update())" 
        ButtonTitle="Сохранить"/>
</Modal>
@if (Groups == null)
{
    <Loader />
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Группа</th>
                <th>Факультет</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var group in Groups)
            {
                <tr>
                    <td>@group.ClassName</td>
                    <td>@group.Faculty.FacultyName</td>
                </tr>
                <button
                    data-toggle="modal"
                    data-target="#modal"
                    type="button"
                    onclick="@(() => ShowModal(group.Id))"
                    class="btn btn-primary mb-2">
                    Редактировать
                </button>
                <Divider Vertical="@true" />
                <button
                    type="button"
                    onclick="@(async () => await Delete(group.Id))"
                    class="btn btn-danger mb-2">
                    Удалить
                </button>
            }
            </tbody>
        </table>
        <button
            data-toggle="modal"
            data-target="#modalAdd"
            type="button"
            onclick="@(() => ShowModal())"
            class="btn btn-success">
            Добавить
        </button>
    </div>
}
<Modal ModalId="modalAdd">
    <ModalHeader Title="Добавить группу"/>
    <ModalBody>
        <GroupModal Group="@EditGroup" />
    </ModalBody>
    <ModalFooter 
        CloseOnClick="@true" 
        OnClick="@(async () => await Add())" 
        ButtonTitle="Сохранить"/>
</Modal>
