@page "/lecturers"
@inherits BlazorDB.App.PageLogic.LecturerPageBase

<Modal ModalId="modal">
    <ModalHeader Title="Редактировать преподавателя"/>
    <ModalBody>
        <LecturerModal Lecturer="@Current" />
    </ModalBody>
    <ModalFooter 
        CloseOnClick="@true" 
        OnClick="@(async () => await Update())" 
        ButtonTitle="Сохранить"/>
</Modal>
@if (Collection == null)
{
    <Loader />
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Кафедра</th>
                <th>Тип</th>
                <th>Пол</th>
                <th>Дата рождения</th>
                <th>Количество детей</th>
                <th>Зарплата</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var lecturer in Collection)
            {
                <tr>
                    <td>@lecturer.LecturerName</td>
                    <td>@lecturer.Surname</td>
                    <td>@lecturer.Pulpit.PulpitName</td>
                    <td>@lecturer.LecturerType</td>
                    <td>@lecturer.Gender</td>
                    <td>@lecturer.BirthYear</td>
                    <td>@lecturer.Children</td>
                    <td>@lecturer.Salary</td>
                </tr>
                <button
                    data-toggle="modal"
                    data-target="#modal"
                    type="button"
                    onclick="@(() => ShowModal(lecturer.Id))"
                    class="btn btn-primary mb-2">
                    Редактировать
                </button>
                <Divider Vertical="@true" />
                <button
                    type="button"
                    onclick="@(async () => await Delete(lecturer.Id))"
                    class="btn btn-danger mb-2">
                    Удалить
                </button>
            }
            </tbody>
        </table>
        <button
            data-toggle="modal"
            data-target="#modalAdd"
            type="button"
            onclick="@(() => ShowModal())"
            class="btn btn-success">
            Добавить
        </button>
    </div>
}
<Modal ModalId="modalAdd">
    <ModalHeader Title="Добавить преподавателя"/>
    <ModalBody>
        <LecturerModal Lecturer="@Current" />
    </ModalBody>
    <ModalFooter 
        CloseOnClick="@true" 
        OnClick="@(async () => await Add())" 
        ButtonTitle="Сохранить"/>
</Modal>
