@page "/plans"
@inherits BlazorDB.App.PageLogic.PlanPageBase

<Modal ModalId="modal">
    <ModalHeader Title="Редактировать план"/>
    <ModalBody>
        <PlanModal Plan="@Current" />
    </ModalBody>
    <ModalFooter 
        CloseOnClick="@true" 
        OnClick="@(async () => await Update())" 
        ButtonTitle="Сохранить"/>
</Modal>
@if (Collection == null)
{
    <Loader />
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Название дисциплины</th>
                <th>Преподаватель</th>
                <th>Вид занятия</th>
                <th>Форма контроля</th>
                <th>Количество часов</th>
                <th>Дата начала</th>
                <th>Дата конца</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var plan in Collection)
            {
                <tr>
                    <td>@plan.Discipline.DisciplineName</td>
                    <td>@plan.Lecturer.Surname</td>
                    <td>@plan.OccupationType</td>
                    <td>@plan.FormControl</td>
                    <td>@plan.HourCount</td>
                    <td>@plan.DateStart</td>
                    <td>@plan.DateEnd</td>
                </tr>
                <button
                    data-toggle="modal"
                    data-target="#modal"
                    type="button"
                    onclick="@(() => ShowModal(plan.Id))"
                    class="btn btn-primary mb-2">
                    Редактировать
                </button>
                <Divider Vertical="@true" />
                <button
                    type="button"
                    onclick="@(async () => await Delete(plan.Id))"
                    class="btn btn-danger mb-2">
                    Удалить
                </button>
            }
            </tbody>
        </table>
        <button
            data-toggle="modal"
            data-target="#modalAdd"
            type="button"
            onclick="@(() => ShowModal())"
            class="btn btn-success">
            Добавить
        </button>
    </div>
}
<Modal ModalId="modalAdd">
    <ModalHeader Title="Добавить план"/>
    <ModalBody>
        <PlanModal Plan="@Current" />
    </ModalBody>
    <ModalFooter 
        CloseOnClick="@true" 
        OnClick="@(async () => await Add())" 
        ButtonTitle="Сохранить"/>
</Modal>